<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Worldline/Connect/Sdk</directory>
            <exclude>tests/Worldline/Connect/Sdk/It</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Worldline/Connect/Sdk/It</directory>
        </testsuite>
    </testsuites>
</phpunit>
